* {
    font-family: 'capriola';
}

#root {
    display: flex;
    justify-content: center;
    background-color: #444;
}

.main {
    display: flex;
    flex-direction: column;
    width: 85vw;
    background-color: #999;
    height: 100vh;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    height: 90%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0 1rem;
    gap: 2rem;
    height: 4rem;
}

.header h1 {
    margin: 0;
}

.nav a {
    color: inherit; 
    height: 100%;
    display: flex;
    align-items: center;
}

.nav li.active {
    background-color: #555;
}

.nav li:hover {
    background-color: #777;
}

.nav a:hover {
    color: white;
}

.profile-pic {
    height: 100px;
    width: 100px;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: .5rem 0 1.5rem 0;
}

.footer-list a svg {
    text-decoration: none;
    color: black;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 25vw;
}