* {
    font-family: 'capriola';
}

.main {
    display: flex;
    flex-direction: column;
    width: 85vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0 1rem;
    gap: 2rem;
    height: 4rem;
}

.header h1 {
    margin: 0;
}

.nav a {
    color: inherit; 
    height: 100%;
    display: flex;
    align-items: center;
}

.nav li.active {
    background-color: #555;
}

.nav li:hover {
    background-color: #777;
}